#
# shell aliases
#

################################################################################
# editors & pagers
################################################################################

alias less=$PAGER
alias zless=$PAGER
