#
# shell aliases
#

################################################################################
# editors & pagers
################################################################################

alias less=$PAGER
alias zless=$PAGER

#
# vim
#

# update vundle bundles
alias vundle.update='vim +BundleInstall +qall'
